:root {
  --font-main: "Heebo",arial;
  --body-bg-color: #FFFFFF;
  --color-green: #5EB700;
  --color-orange: #FF7C00;
  --color-grey: #F0F0F4;
  --color-disabled: #A5A5AA;
  --color-text-body: #485868;

  /* --bg-color-accent: #000000;
  --bg-color-accent-hover: rgba(0, 0, 0, 0.8);
  --text-color-1: #000000;
  --text-color-2: rgba(0, 0, 0, 0.64);
  --color-secondary: #D3FF26;
  --color-contrast: #FFFFFF;
  --color-error: #F64B4B;
  --logo-color: var(--text-color-1);
  --color-grey: #F5F5F5;
  --color-primary-light: rgba(0, 0, 0, 0.64); */
}

@import "./main";