:root {
  --font-main: "Heebo",arial;
  --body-bg-color: #FFFFFF;
  --color-green: #5EB700;
  --color-orange: #FF7C00;
  --color-grey: #F0F0F4;
  --color-disabled: #A5A5AA;
  --color-text-body: #485868;
}

@import "./main";
